body{
    font-family: "Roboto", serif;
    font-weight: 300;
    font-style: normal;
}
.header_section{
    background-color: #19283f;
    padding: 10px;
}
.header_section ul li a{
    color: #a8b9c0 !important;
}
.header_section li{
    padding-right: 30px;
}
.header_section .login{
 padding-left: 45px;
 padding-right: 45px;
 background-color: #ff3150;
 color: #ffc501;
 border-radius: 25px;
}
.header_section ul{
    border-right: 2px solid #00c6bf;
   

    
}
.header_section ul li:last-child{
    padding-right: 60px !important;
}
.header_section i{
    color: #0b8389;
    line-height: 3 !important;
    padding-left: 30px !important;
  padding-right: 30px !important;
}
.header_section .active{
    color: #00c7c0 !important;
}
/*banner_section*/
.banner_section{
    background-color: #19283f;
    padding: 100px;
    
}
.banner_section h2{
    color: #f0f8fb;
    font-size: 50px;
}
.banner_section p{
    color: #a8b9c0;
    padding-bottom: 20px;
}
.banner_section a{
    background-color: #ff3150;
    color: #ffc501;
    text-decoration: none;
    padding: 10px 40px;
    border-radius: 25px;
   
}  

.weategood_section{
    margin-bottom: 40px !important;
}

.weategood_section p{
 color: #a8b9c0 !important;
 font-size: 15px !important;
}

.weategood_section .we_good_deagine{
    margin-top: 50px !important;
}
.weategood_section .we_good_deagine h3{
    color: #ffc501;
    font-size: 20px !important;
    padding-top: 30px !important;
    padding-bottom: 30px !important;
}
.weategood_section .we_good_deagine p{
    font-size: 15px !important;
    color: #a8b9c0 !important;
    line-height: 33px;
}

/*we_make_this*/
.we_make_this{
    background-color: #eff7fa;
    padding: 50px;
}
.we_make_this ul{
    list-style: none;
    display: inline-block;
    margin-top: 40px;
} 
.we_make_this ul li{
    display: inline-block;
    padding-right: 20px;
}
.we_make_this ul li a{
    text-decoration: none;
    color: #a8b9c0;
}
.we_make_this ul li a:hover{
    background-color: red;
    padding: 10px 20px;
    border-radius: 10px;
}
.we_make_this .awesome{
    width: 300px;
    height: 250px;
    margin-top: 20px;
   
    background-color: white;
}
.we_make_this .row{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}
.we_make_this .we_div .awesome h4{
  
  padding-top: 100px;
}
.we_make_this .i_want a{
    background-color: #ff3150;
    color: #ffc501;
    padding: 7px 30px;
    border-radius: 20px;
    text-decoration: none;
}
.we_make_this .i_want{
    margin-top: 50px;
}

/*about_us*/
.about_us{
    margin-top: 50px;
}
.about_us .about_title{
    margin-left: 50px;
    margin-top: 50px;
}
.about_us .about_title h3{
    font-size: 32px;
    color: #1a2940;
}
.about_us .about_title p{
    font-family: 15px;
    color: #a8b9c0;
}
.about_us .about_title a{
    background-color: #ff3150;
    padding: 8px 35px;
    border-radius: 15px;
    text-decoration: none;
    color: #ffc501;
}

/*Meet_the_team*/
.Meet_the_team{
    background-color: #eff7fa;
    padding: 50px;
}
.Meet_the_team a{
    background-color: #00c7c0;
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
    display: block;
}
.Meet_the_team p{
    text-align: center;
    color: #a8b9c0;
    padding-top: 25px !important;
}

/*logo_section*/
.logo_section{
    background-color: white !important;
    padding: 40px;
}
/*start_project*/
.start_project{
    background-color: #19283f;
    padding: 80px;
}
.start_project h3{
    color: white;
    font-size: 35px;
}
.start_project p{
    color: #a8b9c0;
    padding-bottom: 30px;
}
.start_project a{
    background-color: #ff3150;
    color: #ffc501;
    padding: 8px 35px;
    border-radius: 17px;
   
    text-decoration: none;
}
/*card_three*/
.card_three a{
    color: #1a2940 !important;
    font-size: 20px !important;
}
/*red_blog*/
.red_blog .more_story a{
    background-color: #ff3150 !important;
    color: #ffc501 !important;
    padding: 8px 30px;
    border-radius: 17px;
}
/*subscribe*/
.subscribe{
    background-color: #ffc400;
    padding: 20px;
}



 
  .subscribe-box button {
    border: 2px solid #000;
    padding: 10px 20px;
    background-color: transparent;
    color: #000;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
  }
  .form-control{
    border-bottom: 1px solid black !important;
    background-color: #ffc400 !important;
    width: 500px !important;
    margin-left: 30px !important;
  }
  .subscribe .btn{
    padding: 8px 30px !important;
    background-color: #19283f !important;
    color: #ffc400;
    border-radius: 20px !important;
    margin-left: 30px !important;
  }
  /*fotter_section*/
  .fotter_section{
    background-color: #19283f;
    padding: 50px;
  }
  .fotter_section ul{
    list-style: none;
    line-height: 35px !important;
  }
  .fotter_section a{
    text-decoration: none;
    color: #a8b9c0;
    font-size: 13px;
  }
  .fotter_section h4{
    font-size: 15px;
    color: #f0f8fb;
  }
.fotter_section{
    font-size: 13px;
    color: #a8b9c0;
}
.fotter_section .gmail_link a{
    background-color: #ff3150;
    padding: 8px 70px;
    border-radius: 16px;
}

